.debug
  = "Total Story.count: #{Story.count}"
- @stories.each do |story|
  .debug
    = debug "long_url: #{story.long_url}, score: #{story.score}, re: #{story.retweet}, fav: #{story.favorite}, token: #{story.token}"
  .post
    .otherUser
    .text-right
      %h5
        %small
          via
          %i{:class => "glyphicon glyphicon-user"}
          @BillGates, @KaifuLee, @Apple, @Weijun and
          %span.badge
            50+
    %h5.twitterUser
      %i{:class => "glyphicon glyphicon-comment"}
      = link_to "@#{story.teller_realname}", "https://twitter.com/#{story.teller_username}/statuses/#{story.tweet_id}"
    %h2.twitterTitle
      = story.title
    .content
      = raw story.content_preview
    .individual-view
      = link_to "Click for individual view", "/stories/#{story.token}"
    .readMore
      %h5
        Read more at
        = link_to story.domain, story.short_url
        %i{:class => "glyphicon glyphicon-share-alt"}
    %br
    %br
  %hr

