.row.post
  .post_lefthand.col-md-2
    .sharedby
      = link_to "@BillGates", "https://twitter.com/"
    .sharedby
      = "@BillGates"
    .sharedby
      = "and 50+"
  .content_trailer.col-md-8
    .contentTitle.row
      .col-md-10
        %span.content_title
          = "title"
      .col-md-2
        .content_title_img
    .content_keywords
      = "hihhhhhhhh | nihaohhhhhhhhh | hhhhhhhhhhhhh" + " | "
      = link_to "[More]", "stories/"
      = " | "
      = link_to "[Review]", "edit_story_path(story)"
    .content_details
      %span.sharecount
        = "Shared 1000 times | "
      %span.commentcount
        = "48 comments"
  .post_righthand.col-md-2
    .source_primary
      = link_to "inc.com", "baidu.com"
    .source_secondary
      .source_secondary_detail
        = "Washington Post"
      .source_secondary_detail
        = "New York Times"
      .source_secondary_detail
        = "TechCrunch"
  %hr
  %br
