%div.blockElement
  %img{:src => ".../images/hkust.jpg", :class =>"blockImage"}
  %div.row.blockContent
    %div.blockShare
      %span{"data-toggle" => "tooltip", "data-original-title" => "Founder of Digg, Investor with Google Ventures"}
        = link_to "@KevinLee", "https://twitter.com"
    %h3.blockTitle
      The Single Most Important Startup Lesson: How to Perform Inception on Your Customers
    .blockSnippet
      = "Start up | customers | "
      = link_to "[review]", "www.baidu.com"
    %div.blockMeta
      %span.blockSource
        = "Read more at"
        = link_to "INC.COM", "baidu.com"
      %span.blockCount SHARED +400 TIMES
      %span.blockTweet
        %i.fa.fa-twitter.blockIcon

  %div.row.collapse.panel-body{:id => "collapse"}
    %p I first saw a balancing wine bottle holder in Sonoma Valley at a vineyard. It was a board in the shape of a fish, painted as a fish. I thought I could create something better. This is one of my attempts, although I’ve made many others*. I generally make them as gifts. In fact, I don’t think I even have one. I hope people like them. :)
    %p This particular wine holder consists of three different species of wood, each the color you see. No stain or paint used, only a coat of polyurethane.
    %p * I try to use different kinds of wood and different shapes for each wine holder (ie. a wine holder in the shape of grapes using purple heart).

