%h1#title Briefr.

- @stories.each do |story|
  .post
    .twitterUser
      = link_to "@#{story.teller_realname}", "https://twitter.com/#{story.teller_username}/statuses/#{story.tweet_id}"
    .twitterTitle
      = story.title
    .content
      = raw story.content_preview
    %p.readMore
      = link_to "Click to read more...", story.short_url

