- @stories.each do |story|
  %hr
  .row
    .col-xs-12.col-sm-3
      = raw story.image
    .col-xs-12.col-sm-9
      .people
        %span{"data-toggle" => "tooltip", "data-original-title" => story.teller.description}
          = link_to "@#{story.teller.username}", "https://twitter.com/#{story.teller.username}/statuses/#{story.tweet_id}"
        = "#{story.retweeters} + #{story.retweet_count} others"
      .blockTitle
        = story.title
      .blockSnippet
        = story.keywords
        = link_to "[More]", "/stories/#{story.token}"
      .blockMeta
        .blockSource
          = link_to story.domain, story.short_url
        .blockCount
          = "SHARED #{story.retweet_count}+ TIMES"
        .blockTweet
          %i.fa.fa-twitter.blockIcon


